@font-face {
  font-family: 'HelveticaNeueLT Com 35 Th';
  src: url('fonts/HelveticaNeueLTCom-Th.eot'); /* IE9 Compat Modes */
  src: url('fonts/HelveticaNeueLTCom-Th.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/HelveticaNeueLTCom-Th.woff') format('woff'), /* Modern Browsers */
       url('fonts/HelveticaNeueLTCom-Th.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/HelveticaNeueLTCom-Th.svg#340aef951c579f72d818e90bfd9eb6d2') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'HelveticaNeueLT Com 57 Cn';
  src: url('fonts/HelveticaNeueLTCom-Cn.eot'); /* IE9 Compat Modes */
  src: url('fonts/HelveticaNeueLTCom-Cn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/HelveticaNeueLTCom-Cn.woff') format('woff'), /* Modern Browsers */
       url('fonts/HelveticaNeueLTCom-Cn.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/HelveticaNeueLTCom-Cn.svg#1bfe3908464079d33e43d1bde3a33e17') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'HelveticaNeueLT Com 57 Cn';
  src: url('fonts/HelveticaNeueLTCom-BdCn.eot'); /* IE9 Compat Modes */
  src: url('fonts/HelveticaNeueLTCom-BdCn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/HelveticaNeueLTCom-BdCn.woff') format('woff'), /* Modern Browsers */
       url('fonts/HelveticaNeueLTCom-BdCn.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/HelveticaNeueLTCom-BdCn.svg#cc7193481c6863477e7cf3cc3ee17e32') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

