// Basic colors
$color-default: #b9433f;
$color-default-hover: 	#E3524D;
$color-default-active: 	#E37975;
$color-text: 			#777;
$main-bg-color: 		#f5f5f5;
$color-laravel:			#ff5050;

// Dark related
$dark-color: 			#333333;
$darkest-color: 		#414141;
$text-on-dark:			#ccc;

// Messages colors
$color-danger: 			#F95E5C;
$color-success: 		#6CCBAB;

// Special colors
$color-module:			rgba(255, 80, 80, .9);

// Info sections
$info-bg-color:			#FFFFE7;
$info-text-color:		#666;

// Misc
$color-paper-line:		#E7C6AB;

// Weight Colors
$color-easy:			#B5B5D0;
$color-medium:			#5D80D0;
$color-hard:			#D05B35;

// Typography
$main-font-famliy: 'HelveticaNeueLT Com 35 Th', sans-serif;
$main-title-font:  'HelveticaNeueLT Com 57 Cn', sans-serif;



// -- MIXINS
@mixin header-bar-top() {  
  border-top: 25px solid #fff;
}

//--- GLOBALS
html,body{font-family: $main-font-famliy; background-color: $main-bg-color; font-size: 16px;}


p,a{font-size: 1em;}
h4{font-size: 1.3em;}
h3{font-size: 1.4em;}
h2{font-size: 1.5em;}
h1{font-size: 1.6em;}

p,h1,h2,h3,h4,h5,h6{color: $color-text;}

h1,h2,h3,h4,h5,h6{font-family: $main-title-font;}

a{color: $color-default}
a:hover{color: $color-default-hover; text-decoration: none}
a:focus,a:active{color: $color-default-active; outline: none !important}

input:active,
input:focus{outline: none !important;}

.row{margin-left: 0; margin-right: 0;}

.form-control{ border: 1px solid #eee; border-radius: 0px; height: 45px; font-size: 1.5em; color: #777 }
.form-control:focus{box-sizing: border-box; border: 2px solid $color-laravel; box-shadow: none}

.no-margin-top{margin-top: 0;}
.no-margin-right{margin-right: 0;}
.no-margin-bottom{margin-bottom: 0;}
.no-margin-left{margin-left: 0;}

.margin-top{margin-top: 20px;}

.hug{ width: 100%; margin: 0; padding: 0; }

.container{width: 100%;}

.btn{
	padding: 8px 23px;
	color: white;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	border-radius: 0px;		
}
.btn:hover,
.btn:active{color: white;}
.btn-default{background-color: $color-laravel;}
	.btn:hover{background-color: $color-default-hover }
	.btn:active{background-color: $color-default-active; }

.btn-wide{width: 100%; padding: 15px;}

.navbar-default{
  background-color: #ff5050;
  border-color: #ff5050;
  border-radius: 1px;	
}
.navbar-default a,
.navbar-default .navbar-nav>li>a{color: #fff;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{color: #eee; background-color: $color-default}
.navbar-default .navbar-brand{color: #fff;}
.navbar-default .navbar-nav>.active>a{color: #fff; background-color: $color-default}
.navbar{margin-bottom: 0;}

.alert{border: none; border-radius: 0;}
.alert-main{text-align: center; font-size: 1.5em; text-transform: uppercase;}
.alert-main a{color: #fff !important}

.alert-danger{background-color: $color-default;}
.alert-success{background-color: $color-success;}

.numCount{
	background-color: $dark-color;
	color: #fff;
	padding: 3px 7px;
	border-radius: 100%;	
}

.list-style-none{ list-style: none; padding-left: 0 }

.done{text-decoration: line-through}

.no-side-padding{padding-left: 0; padding-right: 0;}

.small-padding-left{padding-left: 10px}
.small-padding-right{padding-right: 10px}

.app-wrapper-title{color: $color-default}

.level{
	display: inline-block; 
	width: 20px; 
	height: 20px; 
	border-radius: 100%;
}
.level-easy{background-color: $color-easy;}
.level-medium{background-color: $color-medium;}
.level-hard{background-color: $color-hard;}

.legend{margin-top: 20px;}
.legend ul li{display: inline; margin-left: 8px;}
.legend ul li:first-child{margin-left: 0}

.legend .level{border-radius: 4px; width: 10px; height: 10px;}

.blanket{
	position: absolute; 
	top: 0; 
	left: 0; 
	background-color: rgba(0,0,0,.8);
	width: 100%;
	height: 1000px;
	z-index: 10000000000000;
}

.tab-pane{margin-top: 20px;}

#module{
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;	
	width: 1000px;
	height: 1000px;
	background-color: $color-module;
	display: none;
}
#module #close{float: right; margin: 10px 10px 0 0;}
#module #close:hover{cursor: pointer; color: #fff;}

//-- HOME
.hug-homeHeader{ @include header-bar-top()}

.athenticate-form-wrap{ width: 400px; max-width: 100%; margin: 0 auto; }

// INNER PAGES SHARED
.hug-hudHeader{background-color: $color-laravel}
.hug-hudHeader .row{margin-left: 0; margin-right: 0;}

.card{
	background-color: $main-bg-color; 
	border-radius: 4px; 
	padding: 20px 0;
	display: block;
	margin: 10px;
}
.card:hover{background-color: #ddd;}
.card img{display: block; max-width: 100%; margin: 0 auto;}
.card a{color: $text-on-dark}
	.card a:hover{color: $color-default-hover;}
.card header h3{ 
	background-color:$darkest-color; 
	color: #fff; 
	text-transform: capitalize; 
	text-indent: 8px; 
	padding: 4px;
	font-size: 1.2em;
}  
.card .content-pad{padding: 10px;}
.card center{color: $color-default}

.app-wrapper{
	width: 700px; 
	max-width: 95%; 
	background-color: #fff; 
	border: 1px solid #eee; 
	margin: 0 auto;
	margin-top: 20px;
	padding: 10px;
	border-radius: 5px;
}
.app-wrapper-wide{width: 976px; max-width: 100%;}

section.info{
	background-color: $info-bg-color;
	box-sizing: border-box;
	padding: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: $info-text-color;
}

section.info-dark{background-color: $dark-color}
section.info-dark p{color: #fff} 
section.info .table>thead>tr>th{border-bottom: 1px solid $color-paper-line}
section.info .table>thead>tr>th, 
section.info .table>tbody>tr>th, 
section.info .table>tfoot>tr>th, 
section.info .table>thead>tr>td, 
section.info .table>tbody>tr>td, 
section.info .table>tfoot>tr>td{border-top: 1px solid $color-paper-line}

.progress{margin: 30px 0; background-color: #999; border-radius: 0;}
.progress-bar{background-color: $color-success}



