// Basic colors

$color-primary: #69b4b8;
$color-primary-accent: #419094;
$color-primary-rival: #D86850;
$color-primary-rival-hover: #ED7258;
$color-bg: #FDFDFD;
$color-font: #586E6E;
$color-weight: #D4D4C0;
$color-main-weigth: tomato;

// Special colors
$color-module:			rgba(00, 00, 00, .5);

// Info sections
$info-bg-color:			#F9F4EB;
$info-text-color:		#666;
$color-info-dark:       #d4d4c0;

// Misc
$color-paper-line:		#E7C6AB;

// Typography
$main-font-famliy: 'Gotham Rounded Book', sans-serif;
$main-title-font:  'Source Sans Pro', sans-serif;

// -- MIXINS
@mixin header-bar-top() {  
  border-top: 25px solid #fff;
}

//--- GLOBALS
html,body{
	font-family: $main-font-famliy; 
	background-color: $color-bg; 
	font-size: 16px; 
	color: $color-font
}
p,a{font-size: 1em;}
h4{font-size: 1.3em;}
h3{font-size: 1.4em;}
h2{font-size: 1.5em;}
h1{font-size: 1.6em;}
h1,h2,h3,h4,h5,h6{font-family: $main-title-font;}
a{color: $color-primary-accent}
a:hover{color: $color-primary; text-decoration: none}
a:focus,a:active{color: $color-primary-accent; outline: none !important}
input:active,
input:focus{outline: none !important;}
label{font-weight: 500}

*::-webkit-input-placeholder{opacity: .3}
*:-moz-placeholder{opacity: .3}
*::-moz-placeholder{opacity: .3}
*:-ms-input-placeholder{opacity: .3}

.dimmed{opacity: .5; font-size: .8em;}

.no-padding-left{padding-left: 0;}
.no-padding-right{padding-right: 0;}

.row{margin-left: 0; margin-right: 0;}

.form-control{ border: 2px solid #ECECEC; border-radius: 3px; height: auto; font-size: 1em; color: #777; box-shadow: none; background-color: #ECECEC}
.form-control:focus{border-color: $color-primary-accent; outline: none; box-shadow: none;}

.no-margin-top{margin-top: 0;}
.no-margin-right{margin-right: 0;}
.no-margin-bottom{margin-bottom: 0;}
.no-margin-left{margin-left: 0;}

.margin-top{margin-top: 20px;}

.hug{ width: 100%; margin: 0; padding: 0; }

.container{width: 100%;}

.circle{border-radius: 100%;}

.badge{background-color: #E4E4E4; color: $color-primary}


// Buttons
.btn{text-transform: capitalize}
.btn:focus{outline: none;}
.btn-wide{width: 100%; padding: 15px;}
.btn-cta{font-size: .5em; padding: 20px 60px}

.btn-holo{color: #fff; background: rgba(250,250,250,.2);}
.btn-holo:hover{color: $color-primary; background-color: #fff;}

.btn-rival{background-color: $color-primary-rival; border-color: $color-primary-rival; color: #fff}
.btn-rival:hover{background-color: $color-primary-rival-hover; border-color: $color-primary-rival-hover; color: #fff;}

.btn-primary{background-color: $color-primary; border: 1px solid $color-primary}
.btn-primary:hover{background-color: $color-primary-accent; border: 1px solid $color-primary-accent}

.navbar-default{
  background-color: $color-primary;
  border-color: $color-primary;
  border-radius: 1px;	
}

// Panels 
.panel-default>.panel-heading{background-color: #fff}

// Navigaton
.navbar-default a,
.navbar-default .navbar-nav>li>a{color: #fff;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{color: #eee; background-color: $color-primary-accent}
.navbar-default .navbar-brand{color: #fff;}
.navbar-default .navbar-nav>.active>a{color: #fff; background-color: $color-primary-accent}
.navbar{margin-bottom: 0;}
.navbar .profile-link{padding: 5px;}
.navbar img.circle{
	width: 40px;
	height: 40px;
	border: 2px solid rgba(100,100,100,.3);	
}

.alert{border: none; border-radius: 0;}
.alert-main{text-align: center; font-size: 1.5em; text-transform: uppercase;}
.alert-main a{color: #fff !important}

.numCount{
	background-color: $color-bg;
	color: $color-font;
	padding: 2px 05px 2px;
}

.numCount{
	padding: 14px 0px; 
	display: inline-block; 
	height: 50px;
	width: 60px;
	text-align: center;
}

.list-style-none{ list-style: none; padding-left: 0 }
.inline-list li{float: left; margin-left: 0}

.list-link{
	height: 50px;
	display: block;	
	color: $color-font;	
}
.list-link:hover{background-color: $color-primary; color: #fff;}

.done{text-decoration: line-through}

.no-side-padding{padding-left: 0; padding-right: 0;}

.small-padding-left{padding-left: 10px}
.small-padding-right{padding-right: 10px}

.level{
	display: inline-block; 
	width: 20px; 
	height: 20px; 
	padding: 0 0 0 5px;
	color: #fff;
}

.level-easy,
.level-medium,
.level-hard{background-color: $color-weight;}

.legend{margin-top: 20px;}
.legend ul li{display: inline; margin-left: 8px;}
.legend ul li:first-child{margin-left: 0}

.legend .level{border-radius: 4px; width: 10px; height: 10px;}

span.total{
	background-color: $color-weight;
	color: #fff;
	font-family: "HelveticaNeueLT Com 35 Th", sans-serif;
	padding: 5px 08px 0px;
	line-height: 0;
	border-radius: 100%;
	background-color: $color-main-weigth;	
}

.blanket{
	position: absolute; 
	top: 0; 
	left: 0; 
	background-color: rgba(0,0,0,.8);
	width: 100%;
	height: 1000px;
	z-index: 10000000000000;
}

.tab-pane{margin-top: 20px;}

#module{
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;	
	width: 1000px;
	height: 1000px;
	background-color: $color-module;
	display: none;
}
#module #close{float: right; margin: 10px 10px 0 0;}
#module #close:hover{cursor: pointer; color: #fff;}

.module-form{
	display: none;	
	width: 400px; 
	max-width: 90%;
	padding-bottom: 30px; 		
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,.2); 	
	position: absolute;
	z-index: 2000;	
	top: 30%;
	margin: 0 auto;
	left: 0;
	right: 0;	
}
.module-form h2{
	text-align: center; 
	color: #fff; 
	background-color: $color-primary; 
	margin: 0 0 20px 0; 
	padding: 20px 0;
}
.module-form{width: 300px; max-width: 90%;}
.module-form .form-container{text-align: center}
.module-form form{display: inline;;}

//-- HOME
.hug-homeBody .container{height: 0;}

.home-form{
	max-width: 400px;
	width: 100%;
	margin: 100px auto;
}

.home-form input[type="text"],
.home-form input[type="password"]{
	font-size: 1.5em;
}

.homepage-msg{
	position: fixed;
	top: 30%;
	left: 0;
	width: 100%;	
	text-align: center;
	color: #fff;
	font-size: 2em;
}

.athenticate-form-wrap{ width: 400px; max-width: 100%; margin: 0 auto; }

// INNER PAGES SHARED
.hug-hudHeader{background-color: $color-primary}
.hug-hudHeader .row{margin-left: 0; margin-right: 0;}

.card{
	background-color: $color-bg; 
	border-radius: 4px; 
	padding: 20px 0;
	display: block;
	margin: 10px;
}
.card:hover{background-color: #ddd;}
.card img{display: block; max-width: 100%; margin: 0 auto;}
.card a{color: $color-font}

.card .content-pad{padding: 10px;}
.card center{color: $color-font}

.app-wrapper{
	width: 700px; 
	max-width: 95%; 
	background-color: #fff; 
	border: 1px solid #eee; 
	margin: 0 auto;
	margin-top: 20px;
	padding: 10px;
	border-radius: 5px;
}

.app-wrapper h2{margin-bottom: 40px}

.app-wrapper-wide{width: 1290px; max-width: 100%;}



section.info{
	background-color: $info-bg-color;
	box-sizing: border-box;
	padding: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: $info-text-color;
}

.table a{color: $color-font}
.table a:hover{color: $color-primary}
.table i {color: #96967A}
.table i:hover {color: $color-primary}

section.info-dark p{color: #fff} 
section.info .table>thead>tr>th{border-bottom: 1px solid $color-paper-line}
section.info .table>thead>tr>th, 
section.info .table>tbody>tr>th, 
section.info .table>tfoot>tr>th, 
section.info .table>thead>tr>td, 
section.info .table>tbody>tr>td, 
section.info .table>tfoot>tr>td{border-top: 1px solid $color-paper-line}

.main-user-wrap{background-color: tomato; color: #fff;}
.main-user-wrap img{width: 200px; padding: 10px;}
.main-user-wrap h1{font-size: 4em;}

