//-- VARIABLES 
$color-default: #FF123B;
$color-default-hover: #FF3658;
$color-default-active: #D22C49;
$color-light-gray: #eee;

$main-font-famliy: 'Lato', sans-serif;

// -- MIXINS
@mixin rainbow-top() {
  -webkit-box-shadow:0 -5px 0 #ff3658, 0 -10px 0 #FFE764, 0 -15px 0 #7CD679;
  -moz-box-shadow:0 -5px 0 #ff3658, 0 -10px 0 #FFE764, 0 -15px 0 #7CD679;
  -ms-box-shadow:0 -5px 0 #ff3658, 0 -10px 0 #FFE764, 0 -15px 0 #7CD679;  
  box-shadow:0 -5px 0 #ff3658, 0 -10px 0 #FFE764, 0 -15px 0 #7CD679;  
  margin-top: 15px;
}

//--- GLOBALS
html,body{font-family: $main-font-famliy}

h1{color: $color-default}

a{color: $color-default}
a:hover{color: $color-default-hover}
a:focus,a:active{color: $color-default-active}

input:active,
input:focus{outline: none !important;}
.btn{
	padding: 8px 23px;
	color: white;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;		
}
.btn:hover,
.btn:active{color: white;}
.btn-default{background-color: $color-default;}
	.btn:hover{background-color: $color-default-hover }
	.btn:active{background-color: $color-default-active; }

//--- HELPERS
.hug{ width: 100%; margin: 0; padding: 0; }

//-- COLOR SCHEME VARIABLES
$primary-color: red;
$secondary-color: red;
$text-link-color: red;
$text-link-color-hover: red;

//-- HOME
.hug-homeHeader{ @include rainbow-top()}

.athenticate-form-wrap{ width: 400px; max-width: 100%; margin: 0 auto; }