//-- VARIABLES
$color-default: 		#B9433F;
$color-default-hover: 	#E3524D;
$color-default-active: 	#E37975;

$main-bg-color: 		#f5f5f5;

$dark-color: 			#333333;
$darkest-color: 		#414141;

$text-on-dark:			#ccc;

$color-danger: 			#F95E5C;
$color-success: 		#6CCBAB;

$main-font-famliy: 'Lato', sans-serif;

// -- MIXINS
@mixin header-bar-top() {  
  border-top: 25px solid #fff;
}

//--- GLOBALS
html,body{font-family: $main-font-famliy; background-color: $main-bg-color}

h1{color: $color-default}

a{color: $color-default}
a:hover{color: $color-default-hover; text-decoration: none}
a:focus,a:active{color: $color-default-active}

input:active,
input:focus{outline: none !important;}

.no-margin-top{margin-top: 0;}
.no-margin-right{margin-right: 0;}
.no-margin-bottom{margin-bottom: 0;}
.no-margin-left{margin-left: 0;}

.hug{ width: 100%; margin: 0; padding: 0; }

.container{width: 100%;}

.btn{
	padding: 8px 23px;
	color: white;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;		
}
.btn:hover,
.btn:active{color: white;}
.btn-default{background-color: $color-default;}
	.btn:hover{background-color: $color-default-hover }
	.btn:active{background-color: $color-default-active; }

.navbar{margin-bottom: 0;}

.alert{border: none; border-radius: 0;}
.alert-main{text-align: center; font-size: 1.5em; text-transform: uppercase;}
.alert-main a{color: #fff !important}

.alert-danger{background-color: $color-danger;}
.alert-success{background-color: $color-success;}

//-- HOME
.hug-homeHeader{ @include header-bar-top()}

.athenticate-form-wrap{ width: 400px; max-width: 100%; margin: 0 auto; }

// INNER PAGES SHARED
.card{
	background-color: $dark-color; 
	border-radius: 4px;
	height: 210px;
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,.3);
	-o-box-shadow: 0 0 6px rgba(0,0,0,.3);
	box-shadow: 0 0 6px rgba(0,0,0,.3);
}
.card a{color: $text-on-dark}
	.card a:hover{color: $color-default-hover;}
.card header h3{ 
	background-color:$darkest-color; 
	color: #fff; 
	text-transform: capitalize; 
	text-indent: 8px; 
	padding: 4px;
	font-size: 1.2em;
}  
.card .content-pad{padding: 10px;}
.card ol{padding-left: 15px;}
.card ol li{color: $color-default-hover;}
.card footer a{margin-left: 8px;}

.app-wrapper{
	width: 700px; 
	max-width: 95%; 
	background-color: #fff; 
	border: 1px solid #eee; 
	margin: 0 auto;
	margin-top: 20px;
	padding: 10px;
	border-radius: 5px;
}





