html, body {
  font-family: helvetica, sans-serif;
  background-color: whitesmoke; }

h1 {
  color: #b9433f; }

a {
  color: #b9433f; }

a:hover {
  color: #e3524d;
  text-decoration: none; }

a:focus, a:active {
  color: #e37975; }

input:active,
input:focus {
  outline: none !important; }

.no-margin-top {
  margin-top: 0; }

.no-margin-right {
  margin-right: 0; }

.no-margin-bottom {
  margin-bottom: 0; }

.no-margin-left {
  margin-left: 0; }

.hug {
  width: 100%;
  margin: 0;
  padding: 0; }

.container {
  width: 100%; }

.btn {
  padding: 8px 23px;
  color: white;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

.btn:hover,
.btn:active {
  color: white; }

.btn-default {
  background-color: #b9433f; }

.btn:hover {
  background-color: #e3524d; }

.btn:active {
  background-color: #e37975; }

.navbar {
  margin-bottom: 0; }

.alert {
  border: none;
  border-radius: 0; }

.alert-main {
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase; }

.alert-main a {
  color: #fff !important; }

.alert-danger {
  background-color: #f95e5c; }

.alert-success {
  background-color: #6ccbab; }

.hug-homeHeader {
  border-top: 25px solid #fff; }

.athenticate-form-wrap {
  width: 400px;
  max-width: 100%;
  margin: 0 auto; }

.card {
  background-color: #333333;
  border-radius: 4px;
  height: 210px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); }

.card a {
  color: #cccccc; }

.card a:hover {
  color: #e3524d; }

.card header h3 {
  background-color: #414141;
  color: #fff;
  text-transform: capitalize;
  text-indent: 8px;
  padding: 4px;
  font-size: 1.2em; }

.card .content-pad {
  padding: 10px; }

.card ol {
  padding-left: 15px; }

.card ol li {
  color: #e3524d; }

.card footer a {
  margin-left: 8px; }

.app-wrapper {
  width: 700px;
  max-width: 95%;
  background-color: #fff;
  border: 1px solid #eee;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px; }
