//-- VARIABLES
$color-default: 		#B9433F;
$color-default-hover: 	#E3524D;
$color-default-active: 	#E37975;

$main-bg-color: 		#f5f5f5;

$dark-color: 			#333333;
$darkest-color: 		#414141;

$text-on-dark:			#ccc;

$color-danger: 			#F95E5C;
$color-success: 		#6CCBAB;

$info-bg-color:			#FFFFE7;
$info-text-color:		#666;

$tasks-complete-color: 	#77D3AA;

$color-paper-line:		#E7C6AB;

$main-font-famliy: helvetica, sans-serif;

$color-hot:				#B5B5D0;
$color-common:			#87D0B6;
$color-medium:			#5D80D0;
$color-hard:			#D05B35;
$color-super:			#C09400;

// -- MIXINS
@mixin header-bar-top() {  
  border-top: 25px solid #fff;
}

//--- GLOBALS
html,body{font-family: $main-font-famliy; background-color: $main-bg-color}

h1{color: $color-default}

a{color: $color-default}
a:hover{color: $color-default-hover; text-decoration: none}
a:focus,a:active{color: $color-default-active}

input:active,
input:focus{outline: none !important;}

.no-margin-top{margin-top: 0;}
.no-margin-right{margin-right: 0;}
.no-margin-bottom{margin-bottom: 0;}
.no-margin-left{margin-left: 0;}

.margin-top{margin-top: 20px;}

.hug{ width: 100%; margin: 0; padding: 0; }

.container{width: 100%;}

.btn{
	padding: 8px 23px;
	color: white;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;		
}
.btn:hover,
.btn:active{color: white;}
.btn-default{background-color: $color-default;}
	.btn:hover{background-color: $color-default-hover }
	.btn:active{background-color: $color-default-active; }

.navbar{margin-bottom: 0;}

.alert{border: none; border-radius: 0;}
.alert-main{text-align: center; font-size: 1.5em; text-transform: uppercase;}
.alert-main a{color: #fff !important}

.alert-danger{background-color: $color-danger;}
.alert-success{background-color: $color-success;}

.numCount{
	background-color: $dark-color;
	color: #fff;
	padding: 3px 7px;
	border-radius: 100%;	
}

.list-style-none{ list-style: none; padding-left: 0 }

.done{text-decoration: line-through}

.no-side-padding{padding-left: 0; padding-right: 0;}

.small-padding-left{padding-left: 10px}
.small-padding-right{padding-right: 10px}

.app-wrapper-title{color: $color-default}

.tasks-complete{color: $tasks-complete-color};

.level{
	display: inline-block; 
	width: 20px; 
	height: 20px; 
	border-radius: 100%;
}
.level-hot{background-color: $color-hot;}
.level-common{background-color: $color-common;}
.level-medium{background-color: $color-medium;}
.level-hard{background-color: $color-hard;}
.level-super{background-color: $color-super;}

.legend{margin-top: 20px;}
.legend ul li{display: inline; margin-left: 8px;}
.legend ul li:first-child{margin-left: 0}

.legend .level{
	border-radius: 4px;
	width: 10px;
	height: 10px;
}

//-- HOME
.hug-homeHeader{ @include header-bar-top()}

.athenticate-form-wrap{ width: 400px; max-width: 100%; margin: 0 auto; }

// INNER PAGES SHARED
.card{
	background-color: $main-bg-color; 
	border-radius: 4px; 
	padding: 20px 0;
	display: block;
	margin: 10px;
}
.card:hover{background-color: #ddd;}
.card img{display: block; max-width: 100%; margin: 0 auto;}
.card a{color: $text-on-dark}
	.card a:hover{color: $color-default-hover;}
.card header h3{ 
	background-color:$darkest-color; 
	color: #fff; 
	text-transform: capitalize; 
	text-indent: 8px; 
	padding: 4px;
	font-size: 1.2em;
}  
.card .content-pad{padding: 10px;}
.card center{color: $color-default}

.app-wrapper{
	width: 700px; 
	max-width: 95%; 
	background-color: #fff; 
	border: 1px solid #eee; 
	margin: 0 auto;
	margin-top: 20px;
	padding: 10px;
	border-radius: 5px;
}
.app-wrapper-wide{width: 99%;}

section.info{
	background-color: $info-bg-color;
	box-sizing: border-box;
	padding: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: $info-text-color;
}

section.info-dark{background-color: $dark-color}
section.info-dark p{color: #fff} 
section.info .table>thead>tr>th{border-bottom: 1px solid $color-paper-line}
section.info .table>thead>tr>th, 
section.info .table>tbody>tr>th, 
section.info .table>tfoot>tr>th, 
section.info .table>thead>tr>td, 
section.info .table>tbody>tr>td, 
section.info .table>tfoot>tr>td{border-top: 1px solid $color-paper-line}

.progress{margin: 30px 0; background-color: #999; border-radius: 0;}
.progress-bar{background-color: $color-success}



