html, body {
  font-family: "Lato", sans-serif; }

h1 {
  color: #ff123b; }

a {
  color: #ff123b; }

a:hover {
  color: #ff3658; }

a:focus, a:active {
  color: #d22c49; }

input:active,
input:focus {
  outline: none !important; }

.btn {
  padding: 8px 23px;
  color: white;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

.btn:hover,
.btn:active {
  color: white; }

.btn-default {
  background-color: #ff123b; }

.btn:hover {
  background-color: #ff3658; }

.btn:active {
  background-color: #d22c49; }

.hug {
  width: 100%;
  margin: 0;
  padding: 0; }

.hug-homeHeader {
  -webkit-box-shadow: 0 -5px 0 #ff3658, 0 -10px 0 #FFE764, 0 -15px 0 #7CD679;
  -moz-box-shadow: 0 -5px 0 #ff3658, 0 -10px 0 #FFE764, 0 -15px 0 #7CD679;
  -ms-box-shadow: 0 -5px 0 #ff3658, 0 -10px 0 #FFE764, 0 -15px 0 #7CD679;
  box-shadow: 0 -5px 0 #ff3658, 0 -10px 0 #FFE764, 0 -15px 0 #7CD679;
  margin-top: 15px; }

.athenticate-form-wrap {
  width: 400px;
  max-width: 100%;
  margin: 0 auto; }
