// DEFAULT COLORS
$background-color: #f2f4f3;
$color-primary-light: #3958b3;
$color-primary-dark: #14202c;
$color-badge: #10e1c2;
$color-panel-heading: #d3dddf;
$color-default-grey: #ebefef;
$color-default-text: #444;

// GLOBALS
html,body{
	font-family: 'Open Sans', sans-serif;;
	font-size: 14px;
	height: 100%;
	color: $color-default-text;
	background-color: $background-color;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans light', sans-serif;
	font-weight: 300;
}

a:hover{
	text-decoration: none;
}

// Inputs
input.form-control{
    //border: none;
    //box-shadow: none;
    //border-bottom: 1px solid #ccc;
    //border-radius: 0;
    padding: 19px 12px
}
input.form-control:focus,
textarea.form-control:focus{
	box-shadow: none;
	border-color: $color-primary-dark;
}

// Helpers
.color-primary{color: $color-primary-light}
.color-badge{color: $color-badge}

.no-padding-left{padding-left: 0}
.no-padding-right{padding-right: 0}
.no-side-padding{padding-left: 0; padding-right: 0}

// Messages
.status-msg{
  padding: 10px;
  display:block;
  text-align: center;
  margin-bottom: 5px;
  color: #fff;
}
.status-msg.error-msg{background-color: rgb(239, 130, 130)};
.status-msg.success-msg{background-color: #48D0BE};

.noScroll{
  overflow-y:hidden;
}

.dim{
	opacity: .5;
}

.circle{
  border-radius: 100%;
}
// Weight
.weight{
	background-color: $color-badge; 
	color: #4f4055;
	padding: 2px 8px;
    border-radius: 15px;	
    font-size: 14px;
}

// Panel
.panel{
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.panel .panel-heading{
	background-color: $color-panel-heading;
	color: rgba(100,100,100,.8);
	font-size: 1.3em; 
	padding: 15px;
}
.panel.panel-list .panel-body{
	padding: 0;
}
.panel.panel-list a{
	display: block;
	padding: 8px 25px;
	border-left: 4px solid #fff;
	transition-duration: .2s;
	color: #333;
	font-size: 1em;
	border-bottom: 1px solid #e0e9e8;
}
.panel.panel-list a:hover{
	border-left-color: $color-primary-light;
	background-color: #fafafa;
	text-decoration: none;
}
.panel.panel-list a.with-number{
  padding-left: 10px;
}
.panel.panel-list a.with-number .dim{
  font-size: .7em;
}
.panel.panel-list .panel-body p{
	margin-bottom: 0;
	padding: 10px;
}

// SIDE NAV SECTION
$side-nav-padding: 20px;
.side-nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 250px;
	height: 100%;
	background-color: $color-primary-dark;
	color: rgba(150,150,150,.2);
}
.side-nav a{	
	color: rgba(150,150,150,.6);	
	transition-duration: .2s;	
}
.side-nav a:hover{
	color: #fff;
	text-decoration: none;
}
.side-nav .logo-section{
	display: block;
	padding: 10px 25px;	
	font-family: 'Pacifico', cursive;	
	font-size: 1.5em;	
	text-align: left;	
	background-color: $color-primary-light;	
}
.side-nav .logo-section p{color: #fff; margin-bottom: 0}
.side-nav .logo-section p:hover{text-decoration: none}
.side-nav .user-section{padding: 25px; text-align: center;}
.side-nav .user-section p{color: #fff; text-align: center;}
.side-nav .user-section img{
	width: 40px;
    height: 40px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;	
}
.side-nav .search input{
	border-radius: 0;
    border: none;
    background-color: rgba(150,150,150,.2);
    padding: $side-nav-padding;	
    color: #fff;
}
.side-nav .search input:focus{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.side-nav .menu h3{
	font-size: 1.2em;
	padding-left: $side-nav-padding;
	padding-right: $side-nav-padding;
	color: rgba(150,150,150,.6);
}
.side-nav .menu a{
	display: block;
	font-size: .95em;
	box-sizing: border-box;	
	padding: 6px 16px;
	border-left: 4px solid $color-primary-dark;	
}
.side-nav .menu a:hover,
.side-nav .menu a.active{
	border-left: 4px solid $color-primary-light;
	color: #fff;	
}
.side-nav .menu a:last-child{margin-top: 20px;}
.side-nav .line{
    padding-left: $side-nav-padding;
    padding-right: $side-nav-padding;	
}
.side-nav .menu a i{
	display: inline-block;
	width: 20px;
	font-size: 1.3em;
	padding-right: 10px;
}
.side-nav .menu a:last-child i{
	position: relative;
	top: 1px;
}
.side-nav .line hr{
	border-top: none;
    height: 2px;
    background-color: rgba(150,150,150,.1);
    margin-top: 40px;
}
.side-nav .footer{
	padding-left: $side-nav-padding;
	padding-right: $side-nav-padding;
}
.side-nav .footer {text-align: center}
.side-nav .footer p{font-size: .8em}

// Buttons
.btn{
	padding: 10px 20px;
	border: none;
	transition-duration: .2s;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
	box-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.btn:hover{
	opacity: .95;
}
.btn:focus,
.btn:active{
  outline: none;
  border: none;
}
.btn-default{
  background-color: $color-default-grey;
}
.btn.btn-primary{
	background-color: $color-primary-light;
}

// Pop Up Form
.popup-form{
	position: fixed;
	bottom: 0;
	right: 20px;
	width: 400px;
	max-width: 400px;
	height: 350px;
	background-color: #fff;
	box-shadow: 0 2px 10px rgba(50,50,50,.4);
	-webkit-box-shadow: 0 2px 10px rgba(50,50,50,.4);
	-moz-box-shadow: 0 2px 10px rgba(50,50,50,.4);
	display: none;
}
.popup-form header{
	padding: 10px;
	background: $color-primary-dark;
	color: #fff;
}
.popup-form header p{
	margin-bottom: 0;
}
.popup-form header .actions i{
	color: #fff;	
	transition-duration: .2s;
	opacity: .8;
}
.popup-form header .actions i:hover{
	opacity: 1;
	cursor: pointer;
}
.popup-form header .actions i:nth-child(1){
	margin-right: 10px;
}
.popup-form.minimized{
	transition-duration: .3s;
	height: 40px !important;
}
.popup-form section{
	padding: 10px;
}
.popup-form footer{
	width: 100%;
	padding: 10px;
	position: absolute;
	bottom: 0;
	background-color: #f2f4f3;
}
.popup-form.minimized footer{
	position: static;
}
.popup-form .form-control{
  margin-bottom: 10px;
}
.popup-form.new-task,
.popup-form.update-task{
  height: 450px;
}

// Mega Menu
.mega-menu .links{
	float: left;
	width: 30%;
	position: relative;
	left: 1px;
}
.mega-menu .links a{
	display: block;
	padding: 15px;
	font-size: 1.2em;
	text-decoration: none;
	color: #999c9b;
	border-left: 4px solid transparent;
}
.mega-menu .links a.active,
.mega-menu .links a:hover,
.mega-menu .links a:first-child{
	border-left-color: $color-primary-light;
	color: $color-default-text;
}
.mega-menu .links a.active,
.mega-menu .links a:first-child{
	//border-top: 1px solid #cdcdd4;
	border-bottom: 1px solid #cdcdd4;	
	//font-weight: bold;
	background-color: #fff;
}
.mega-menu .links a.inactive{
	border-top: none;
	border-bottom: none;	
	border-left: 4px solid transparent;
	color: #999c9b;
	font-weight: normal;
	background-color: transparent;	
}
.mega-menu .links a.inactive:hover{
	border-left-color: $color-primary-light;
	color: $color-default-text;	
}
.mega-menu .content{
	float: left;
	width: 70%;
	padding: 10px;
	background-color: #fff;
	//border: 1px solid #cdcdd4;
	min-height: 500px;
}
.mega-menu .content .item{
	display: none;
}
.mega-menu .content .item:first-child{
	display: block;
}
.mega-menu .content header{
	padding: 5px 15px;
    background-color: $color-primary-light;
    color: #fff;
    line-height: .8;	
}
.mega-menu .content header h2{
	margin-top: 5px;
	transition-duration: .2s;
}
.mega-menu .content header i{
	font-size: 1.2em;
	position: relative;
	top: 10px;
}
.mega-menu .content header i:hover{
	opacity: .9;
	cursor: pointer;
}
.mega-menu .content header p{
	font-style: italic;
}
.mega-menu .content header a{
	color: #b4af67;
	transition-duration: .2s;
}
.mega-menu .content header a:hover{
	color: #b4af67;
	opacity: .9;
}
.mega-menu .content header .client-update-form{
	display: none;
}
.mega-menu .content header .client-update-form input{
  border: 1px solid rgba(50,50,50,.2);
  padding: 21px 10px;
  background-color: transparent;
  color: #fff;
  margin-top: 5px;
}
.mega-menu .content header .client-update-form input:focus{
  border-color: #fff;
}
.mega-menu .content .panel{
    margin-top: 10px;
    box-shadow: none;
    border: none;	
}
.mega-menu.mega-menu-tab .links{
	float: none;
	width: auto;
    min-height: 56px;
    position: relative;
    z-index: 2;
}
.mega-menu.mega-menu-tab .links a{
	float: left;
    //border-top: 1px solid #cdcdd4;
	//border-right: 1px solid #cdcdd4;
    border-left: 1px solid transparent;
    border-bottom: none;
}
.mega-menu .links a.inactive:hover{
  border-left-color: transparent;
}
//.mega-menu.mega-menu-tab .links a:first-child{
//  border-left: 1px solid #cdcdd4;
//}
.mega-menu.mega-menu-tab .links a.active,
.mega-menu.mega-menu-tab .links a:first-child{

}
.mega-menu.mega-menu-tab .content{
  float: none;
  width: auto;
  position: relative;
  top: -3px;
  left: 1px;
  z-index: 1;
}

.task-list-row,
.task-list-row .col-md-4,
.mega-menu.mega-menu-tab .content .item{
  height: 100%;
  min-height: 500px;
}

.task-list{
  padding: 15px 0;
  margin-bottom: 0;
  //border: 1px solid #eee;
  border-radius: 5px;
  max-height: 500px;
  min-height: 500px;
  overflow-y: auto;
  list-style: none;
  background-color: #fff;
  color: #fff;
}
.task-list .title{
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(250,250,250,.2);
  color: #ccc;
}
.task-list li{ padding: 10px; transition-duration: .2s;}
.task-list li:hover{opacity: .9; cursor: pointer}
.task-list li .show-on-hover{opacity: 0;}
.task-list li:hover .show-on-hover{opacity: 1;}
.task-list li span{transition-duration: .2s;}
.task-list li span:hover{opacity: .7;}
.task-list li span:first-child{margin-right: 5px}

.task-list.backlog li{
  width: 31.33%;
  float: left;
  margin: 1%;
}
.task-list.backlog li:nth-child(2),
.task-list.backlog li:nth-child(3),
.task-list.backlog li:nth-child(4){
  margin-top: 0;
}

.priority-low{background-color: #2196F3}
.priority-normal{background-color: #00BCD4}
.priority-medium{background-color: #FFC107}
.priority-high{background-color: #FF9800}
.priority-highest{background-color: #FF5722}
// SHEET AND PROMPT
#sheet{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: $color-primary-dark;
  opacity: .9;
  display: none;
}

#pop-up-prompt{
  position: absolute;
  left: 0;
  right: 0;
  z-index: 150;
  width: 100%;
  min-height: 400px;
  margin: 0 auto;
  color: #fff;
  display: none;
  text-align: center;
}
#pop-up-prompt h4{
  margin-top: 30px;
}
#pop-up-prompt section{
  margin-top: 40px;
}
#pop-up-prompt section .btn{
  display: block;
  border-top: 1px solid rgba(250,250,250,.2);
  border-radius: 0;
  color: rgba(250,250,250,.2);
}
#pop-up-prompt section .btn:last-child{
  border-bottom: 1px solid rgba(250,250,250,.2);
}
#pop-up-prompt section .btn:hover{
  color: #fff;
  background-color: rgba(250,250,250,.1);
}

// CONTENT AREA
.content-area{
    padding: 20px;    	
    margin-left: 260px;
	min-height: 100%;    
    border-top: 5px solid $color-primary-light;
}

.page-title-section .btn{
	margin-top: 10px;
	margin-left: 10px;
}

// SETTINGS
.settings-container section{
  overflow: auto;
}

.settings-container .left-side{
  background-color: $color-primary-dark;
  padding: 10px 20px;
  height: 600px;
}

.settings-container .left-side .info{
  float: left;
  padding: 10px 0 10px 10px;
}

.settings-container .left-side .info p{
  margin-bottom: 0;
}

.settings-container .left-side .info p.name{
  color: #fff;
}

.settings-container .left-side a{
  float: left;
}

.settings-container .left-side .bio{
  color: #fff;
  font-size: 1.1em;
  line-height: 2;
  text-align: center;
}

.settings-container .left-side hr{
  border-top: none;
  height: 2px;
  background-color: rgba(150,150,150,.1);
}

.settings-container .left-side .links a{
  float: none;
  color: rgba(150, 150, 150, 0.6);
  transition-duration: .2s;
}

.settings-container .left-side .links a:hover{
  color: #fff;
}

.settings-container .left-side .links span{
  display: inline-block;
  width: 13px;
}

.settings-container .right-side{
  padding-left: 5px;
}

.settings-container .right-side .mega-menu{
  padding-top: 50px;
}

.progress-bar{
  background-color: #10e1c2;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.credential-form .form-group.type-0{
  display: none;
}

.credential-list .credential {
  padding: 10px;
  background-color: #F2F4F3;
  margin-top: 5px;
  transition-duration: .2s;
}
.credential-list .credential:hover{
  cursor: pointer;
  opacity: .9s;
}
.credential-list .credential .show-on-hover{
  display: none;
  transition-duration: .2s;
}
.credential-list .credential:hover .show-on-hover{
  display: block;
}
.credential-list .credential .show-on-hover:hover{
  opacity: .8;
}
