// DEFAULT COLORS
$background-color: #f2f4f3;
$color-primary-light: #3958b3;
$color-primary-dark: #14202c;
$color-badge: #10e1c2;
$color-panel-heading: #d3dddf;
$color-default-grey: #ebefef;
$color-default-text: #444;

// GLOBALS
html,body{
	font-family: 'Open Sans', sans-serif;;
	font-size: 14px;
	height: 100%;
	color: $color-default-text;
	background-color: $background-color;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans light', sans-serif;
	font-weight: 300;
}

// Inputs
input.form-control{
	border: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;	
}
input.form-control:focus{
	box-shadow: none;
	border-color: $color-primary-dark;
}

// Helpers
.color-primary{color: $color-primary-light}

// Messages
.status-msg{padding: 10px; display:block}
.status-msg.error-msg{color: #D82929;}
.status-msg.success-msg{color: #5cb85c;}

// Weight
.weight{
	background-color: $color-badge; 
	color: #4f4055;
	padding: 2px 8px;
    border-radius: 15px;	
    font-size: .8em;
}

// Panel
.panel{
	box-shadow: 0 2px 10px rgba(50,50,50,.3);
	-webkit-box-shadow: 0 2px 10px rgba(50,50,50,.3);
	-moz-box-shadow: 0 2px 10px rgba(50,50,50,.3);
}
.panel .panel-heading{
	background-color: $color-panel-heading;
	color: rgba(100,100,100,.8);
	font-size: 1.3em; 
	padding: 15px;
}
.panel.panel-list .panel-body{
	padding: 0;
}
.panel.panel-list a{
	display: block;
	padding: 13px 25px;
	border-left: 4px solid #fff;
	transition-duration: .2s;
	color: #333;
	font-size: 1.2em;
	border-bottom: 1px solid #e0e9e8;
}
.panel.panel-list a:hover{
	border-left-color: $color-primary-light;
	background-color: #fafafa;
	text-decoration: none;
}
.panel.panel-list .panel-body p{
	margin-bottom: 0;
	padding: 10px;
}

// SIDE NAV SECTION
$side-nav-padding: 20px;
.side-nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 250px;
	height: 100%;
	background-color: $color-primary-dark;
	color: rgba(150,150,150,.2);
}
.side-nav a{	
	color: rgba(150,150,150,.6);	
	transition-duration: .2s;	
}
.side-nav a:hover{
	color: #fff;
	text-decoration: none;
}
.side-nav .logo-section{
	display: block;
	padding: 10px 25px;	
	font-family: 'Pacifico', cursive;	
	font-size: 1.5em;	
	text-align: left;	
	background-color: $color-primary-light;	
}
.side-nav .logo-section p{color: #fff; margin-bottom: 0}
.side-nav .logo-section p:hover{text-decoration: none}
.side-nav .user-section{padding: 25px; text-align: center;}
.side-nav .user-section p{color: #fff; text-align: center;}
.side-nav .user-section img{
	width: 40px;
    height: 40px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;	
}
.side-nav .search input{
	border-radius: 0;
    border: none;
    background-color: rgba(150,150,150,.2);
    padding: $side-nav-padding;	
    color: #fff;
}
.side-nav .search input:focus{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.side-nav .menu h3{
	font-size: 1.2em;
	padding-left: $side-nav-padding;
	padding-right: $side-nav-padding;
	color: rgba(150,150,150,.6);
}
.side-nav .menu a{
	display: block;
	font-size: .95em;
	box-sizing: border-box;	
	padding: 6px 16px;
	border-left: 4px solid $color-primary-dark;	
}
.side-nav .menu a:hover,
.side-nav .menu a.active{
	border-left: 4px solid $color-primary-light;
	color: #fff;	
}
.side-nav .menu a:last-child{margin-top: 20px;}
.side-nav .line{
    padding-left: $side-nav-padding;
    padding-right: $side-nav-padding;	
}
.side-nav .menu a i{
	display: inline-block;
	width: 20px;
	font-size: 1.3em;
	padding-right: 10px;
}
.side-nav .menu a:last-child i{
	position: relative;
	top: 1px;
}
.side-nav .line hr{
	border-top: none;
    height: 2px;
    background-color: rgba(150,150,150,.1);
    margin-top: 40px;	
}
.side-nav .footer{
	padding-left: $side-nav-padding;
	padding-right: $side-nav-padding;
}
.side-nav .footer {text-align: center}
.side-nav .footer p{font-size: .8em}

// Buttons
.btn{
	padding: 12px 20px;
	border: none;
	transition-duration: .2s;
	background-color: $color-default-grey;
}
.btn:hover{
	opacity: .95;
}
.btn.btn-primary{
	background-color: $color-primary-light;
}

// Pop Up Form
.popup-form{
	position: fixed;
	bottom: 0;
	right: 20px;
	width: 400px;
	max-width: 400px;
	height: 450px;
	background-color: #fff;
	box-shadow: 0 2px 10px rgba(50,50,50,.4);
	-webkit-box-shadow: 0 2px 10px rgba(50,50,50,.4);
	-moz-box-shadow: 0 2px 10px rgba(50,50,50,.4);
	display: none;
}
.popup-form header{
	padding: 10px;
	background: $color-primary-dark;
	color: #fff;
}
.popup-form header p{
	margin-bottom: 0;
}
.popup-form header .actions i{
	color: #fff;	
	transition-duration: .2s;
	opacity: .8;
}
.popup-form header .actions i:hover{
	opacity: 1;
	cursor: pointer;
}
.popup-form header .actions i:nth-child(1){
	margin-right: 10px;
}
.popup-form.minimized{
	transition-duration: .3s;
	height: 40px;
}
.popup-form section{
	padding: 10px;
}
.popup-form footer{
	width: 100%;
	padding: 10px;
	position: absolute;
	bottom: 0;
	background-color: #f2f4f3;
}
.popup-form.minimized footer{
	position: static;
}

// Mega Menu
.mega-menu .links{
	float: left;
	width: 30%;
	position: relative;
	left: 1px;
}
.mega-menu .links a{
	display: block;
	padding: 15px;
	font-size: 1.2em;
	text-decoration: none;
	color: #999c9b;
	border-left: 4px solid $background-color;
	// background-color: $background-color;
}
.mega-menu .links a.active,
.mega-menu .links a:hover{
	border-left-color: $color-primary-light;
	color: $color-default-text;
}
.mega-menu .links a.active{
	border-top: 1px solid #cdcdd4;
	border-bottom: 1px solid #cdcdd4;	
	font-weight: bold;
	background-color: #fff;
}
.mega-menu .content{
	float: left;
	width: 70%;
	padding: 15px;
	background-color: #fff;
	border: 1px solid #cdcdd4;
	min-height: 500px;
}
.mega-menu .content .item{
	display: none;
}
.mega-menu .content .item:first-child{
	display: block;
}

// CONTENT AREA
.content-area{
    padding: 20px;    	
    margin-left: 260px;
	min-height: 100%;    
    border-top: 5px solid $color-primary-light;
    border-left: 1px solid #eee;
}

.page-title-section .btn{
	margin-top: 10px;
	margin-left: 10px;
}

